.post-footer .addtoany_share_save_container{
	display: none;
}
.post-footer-book-tile,
.post-footer-movie-tile{
	margin: 10px 0;
}

.post-footer-book-tile .card-cover{
	height: 450px;
	background-size: cover;
}
.post-footer-book-tile .card-text.book-desc,
.post-footer-book-tile .card-body p{
	color: #000000;
}
.post-footer-book-tile .card-title{
	height: 100px;
	overflow: hidden;
}

.post-footer-book-tile .card-text.book-desc{
	color: #000000;
	height: 100px;
    overflow: hidden;
    border-bottom: 10px solid white;
}